<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Admin</title>
    <style>
        form {
            padding: 20px;
            border: 1px solid black;
            width: 400px;
            margin: 20px;
        }
        input, textarea {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid black;
            margin-bottom: 10px;
            background-color: transparent;
        }
        
        .category_list {
            margin: 20px;
            width: 400px;
            border: 1px solid black;
        }
        .category_list > p {
            padding: 10px 20px;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
<a href="/admin" class="black_button">Back</a>

<div class="create_category">
  <form action="/create/category" method="post">
    <h6>Add Category</h6> <br>
    <input type="text" name="category" placeholder="category" />
    <input type="submit" value="CREATE" />
  </form>
</div>

<div class="category_list">
  <% for( let i = 0; i < categories.length; i++ ) { %>
    <p><%= categories[i].name %></p>
  <% } %>
</div>

</body>
</html>