<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Login</title>
    <style>
        .login_section {
            max-width: 1280px;
            margin: 20px auto;
            padding: 0px 20px;
            display: flex; 
            justify-content: space-between;
        }
            .login_section > .left {
                width: 50%;
            }
                .login_section > .left > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            .login_section > .right {
                display: block;
                width: 50%;
                padding: 20px;
                border: 1px solid black;
                background-color: white;
            }


        #login_form > .inputs {
            border: 1px solid black;
            border-radius: 10px;
            padding: 40px 20px;
            margin-bottom: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
            #login_form > .inputs > * {
                width: 48%;
                margin-bottom: 20px;
            }
            #login_form input[type=email], #login_form input[type=text], #login_form input[type=password], #login_form input[type=date] {
                padding: 10px 20px;
            }

        #login_form > h1 {
            margin-bottom: 20px;
        }

        #login_form > h6 {
            margin-bottom: 10px;
        }

        #login_form > .black_button {
            display: block;
            min-width: 200px;
            margin: 0 0 20px auto;
        }
        #login_form > .login {
            display: block;
            text-align: right;
        }

        .errors > p {
            width: 100%;
            padding: 10px 20px;
            background-color: var(--color-yellow);
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
    <nav>
        <div class="container">
            <div class="left">
                <a href="/">
                    <img src="images/foriou logo.png" alt="">
                </a>
            </div>
            <div class="right">
                <a href="/shop">SHOP</a>
                <a href="/cart">CART</a>
                <a href="/login">LOGIN</a>
                <a href="/register">REGISTER</a>
            </div>
        </div>
    </nav>

    <div class="login_section">
        <div class="left">
            <img src="https://cdn.pixabay.com/photo/2017/04/07/16/47/interview-2211354_1280.jpg" alt="Clothes">
        </div>
        <div class="right">
            <form action="/validate" method="post" id="login_form">
                <% if(Object.keys(errors).length !== 0) { %>
                    <div class="errors">

                    <% for(const error in errors) { %>
                        <p>*<%= errors[error] %></p>
                        <% break %>
                    <% } %>

                    </div>
                <% } %>
                <h1>Login</h1>


                <!-- Login Details -->
                <h6>Login Credentials</h6>
                <div class="inputs">
                    <input type="hidden" name="action" value="login" />
                    <input type="text" name="email" placeholder="Email" />
                    <input type="password" name="password" placeholder="Password" />
                </div>

                <input type="submit" value="Login" class="black_button"/>
    
                <a href="/register" class="login">I don't have an account</a>
            </form>
        </div>
    </div>
    <footer>
        <div class="container">
          <!-- Top Footer -->
          <div id="top_footer">
            <div id="newsletter" data-sal="slide-left">
              <h3>Join Our Newsletter.</h3>
              <p>Get first dibs on exclusive offers and be a part of our growing community. No spam, we promise!</p>
              <p id="newsletter_error"></p>
              <form action="" id="subscribe_newsletter">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email" value="" placeholder="Enter your email" name="contact[email]" autocorrect="off" autocomplete="off" spellcheck="false" autocapitalize="off" />
                <input type="submit" value="Subscribe" class="black_button" />
              </form>
            </div>
            <div id="links" data-sal="slide-left">
              <div id="section1">
                <div class="division">
                  <h6>Links</h6>
                  <a href="/shop">SHOP ALL</a>
                  <a href="/shop/best-sellers">BEST SELLERS</a>
                </div>
              </div>
              <div id="section2">
                <div class="division">
                  <h6>Support</h6>
                  <a href="/pages/faq-general">FAQS</a>
                  <a href="/pages/contact-us">CONTACT US</a>
                </div>
              </div>
              <div id="section3">
                <div class="division">
                  <h6>My Account</h6>
                  <a href="/login">LOGIN</a>
                  <a href="/register">REGISTER</a>
                  <a href="/cart">MY CART</a> 
                </div>
              </div>
            </div>
          </div>
        
          <!-- Bottom Footer -->
          <div id="bottom_footer">
            <div id="social" data-sal="slide-right">
              <a href="/">
                <img src="images/foriou logo.png" alt=""  width="400" height="auto" />
              </a>
              <span>2023, This is just a demo website.</span>
            </div>
            <div id="payment_modes">
              <img title="Visa" src="images/Visa Logo.png" alt=""  width="auto" height="17">
              <img title="PayPal" src="images/PayPal Logo.png" alt=""  width="auto" height="17">
              <img title="MasterCard" src="images/Mastercard Logo.png" alt=""  width="auto" height="17">
              <img title="GCash" src="images/GCash Logo.png" alt=""  width="auto" height="17">
            </div>
          </div>
        </div>
      </footer>
</body>
</html>