<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title><% product.name %></title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="left">
                <a href="/">
                    <img src="images/foriou logo.png" alt="">
                </a>
            </div>
            <div class="right">
                <a href="/shop">SHOP</a>
                <a href="/cart">CART</a>
                <a href="/login">LOGIN</a>
                <a href="/register">REGISTER</a>
            </div>
        </div>
    </nav>

    <section>
        <%= product.name %>
    </section>
</body>
</html>